aiofiles
asgiref
black
blinker
click
colorama
dnspython
email-validator
Flask
Flask-WTF
h11
h2
hpack
hypercorn
hyperframe
idna
itsdangerous
Jinja2
MarkupSafe
mypy-extensions
packaging
pathspec
platformdirs
priority
toml
typing_extensions
Werkzeug
wsproto
WTForms