aiofiles==23.1.0
asgiref==3.6.0
attrs==22.2.0
bcrypt==4.0.1
black==23.3.0
blinker==1.6
boto3==1.26.108
botocore==1.29.108
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
cryptography==40.0.1
dnspython==2.3.0
email-validator==1.3.1
Flask==2.2.3
Flask-Bcrypt==1.0.1
Flask-WTF==1.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.14.3
hyperframe==6.0.1
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.2
motor==3.1.2
mypy-extensions==1.0.0
packaging==23.0
pathspec==0.11.1
platformdirs==3.2.0
priority==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pymongo==4.3.3
pymongo-auth-aws==1.1.0
pymongocrypt==1.5.1
pyOpenSSL==23.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.28.2
s3transfer==0.6.0
service-identity==21.1.0
six==1.16.0
toml==0.10.2
typing_extensions==4.5.0
urllib3==1.26.15
Werkzeug==2.2.3
winkerberos==0.9.1
wsproto==1.2.0
WTForms==3.0.1
zstandard==0.20.0
